<div>
  <div class="header-nav js-header-nav" style="background: #C3FF9D">
    <nav class="navbar navbar-expand-lg">
      <div class="navbar-collapse d-flex w-100 justify-content-between">
        <ul id="menu-furama-vi" class="menu navbar-nav js-main-menu" style="margin-left: 5%;">
          <li id="nav-menu-item-5006"
              class="nav-item  menu-item-even menu-item-depth-0 menu-item menu-item-type-post_type menu-item-object-page">
            <a href="/home" class="nav-link main-menu-link" style="color: red">HOME</a>
          </li>
          <li id="nav-menu-item-5007"
              class="nav-item  menu-item-even menu-item-depth-0 menu-item menu-item-type-post_type menu-item-object-page">
            <a href="/employees" class="nav-link main-menu-link" style="color: red">EMPLOYEE</a>
          </li>
          <li id="nav-menu-item-5008"
              class="nav-item  menu-item-even menu-item-depth-0 menu-item menu-item-type-post_type menu-item-object-page">
            <a href="/customers" class="nav-link main-menu-link" style="color: red">CUSTOMER</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/facilities" id="navbarDropdown"
               role="button" style="color:red"
               data-bs-toggle="dropdown" aria-expanded="false">
              SERVICE
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item" href="/facilities" style="color:red">All Facilities</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" href="/facilities?searchFacilityType=Villa"
                   style="color: #3365FA">VILLA</a>
              </li>
              <li>
                <a class="dropdown-item" href="/facilities?searchFacilityType=House"
                   style="color: #3365FA">HOUSE</a>
              </li>
              <li>
                <a class="dropdown-item" href="/facilities?searchFacilityType=Room"
                   style="color: #3365FA">ROOM</a>
              </li>
            </ul>
          </li>
          <li id="nav-menu-item-5010"
              class="nav-item  menu-item-even menu-item-depth-0 menu-item menu-item-type-post_type menu-item-object-page">
            <a href="/contracts" style="color: red"
               class="nav-link main-menu-link">CONTRACT
            </a>
          </li>
        </ul>
        <div style="margin-right: 5%">
          <form class="d-flex m-0 align-items-center" style="padding: 0 12px"
                action="/customers" method="get">
            <span class="mx-3">Name</span>
            <input name="searchName" placeholder="Tìm theo tên&hellip;"
                   th:value="${searchName}" type="text" aria-label="Search">
            <span class="mx-3">Email</span>
            <input name="searchEmail" placeholder="Tìm theo tên&hellip;"
                   th:value="${searchEmail}" type="text" aria-label="Search">
            <select name="searchCustomerType" class="mx-3">
              <option th:if="${searchCustomerType}!=''"
                      th:value="${searchCustomerType}"
                      th:text="${searchCustomerType}"></option>
              <option th:value="''"
                      th:text="'--All Type--'"></option>
              <option th:each="customerType: ${customerTypes}"
                      th:value="${customerType.name}"
                      th:text="${customerType.name}"></option>
            </select>
            <button class="btn btn-outline-success" type="submit">Tìm kiếm
            </button>
          </form>
        </div>
      </div>
    </nav>
  </div>
</div>
