<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Furama Resort</title>

    <!--      boostrap 5.1.3-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <!--     end  boostrap 5.1.3-->

    <style>
        body {
            background: url("/image/bg_img.jpg") repeat center/cover;
            height: 100vh;
            width: 100vw;
        }
    </style>
</head>
<body>
<!--Header-->
<div>
    <div class="header-content">
        <div class="container">
            <div class="row">
                <div class="col-3 align-items-center bestel-logo">
                    <a href="/home" class="header-logo">
                        <img
                                src="../image/logo_img.png" alt="logo "
                                class="img-fluid" style="margin: 20px">
                    </a>
                </div>
                <div class="col-7 align-items-center bestel-logo">
                </div>
                <div class="col-2 align-items-center bestel-logo">
                    <div style="margin-top: 40px; color: #9933cc">Lê Bá Hoàng Giang</div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Navbar-->
<div>
    <div class="header-nav js-header-nav" style="background: #C3FF9D">
        <nav class="navbar navbar-expand-lg">
            <div class="navbar-collapse d-flex w-100 justify-content-between">
                <ul id="menu-furama-vi" class="menu navbar-nav js-main-menu" style="margin-left: 5%;">
                    <li id="nav-menu-item-5006"
                        class="nav-item  menu-item-even menu-item-depth-0 menu-item menu-item-type-post_type menu-item-object-page">
                        <a href="/home" class="nav-link main-menu-link" style="color: red">HOME</a>
                    </li>
                    <li id="nav-menu-item-5007"
                        class="nav-item  menu-item-even menu-item-depth-0 menu-item menu-item-type-post_type menu-item-object-page">
                        <a href="/employees" class="nav-link main-menu-link" style="color: red">EMPLOYEE</a>
                    </li>
                    <li id="nav-menu-item-5008"
                        class="nav-item  menu-item-even menu-item-depth-0 menu-item menu-item-type-post_type menu-item-object-page">
                        <a href="/customers" class="nav-link main-menu-link" style="color: red">CUSTOMER</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/facilities" id="navbarDropdown"
                           role="button" style="color:red"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            SERVICE
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item" href="/facilities" style="color:red">All Facilities</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item" href="/facilities?searchFacilityType=Villa" style="color: #3365FA">VILLA</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/facilities?searchFacilityType=House" style="color: #3365FA">HOUSE</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/facilities?searchFacilityType=Room" style="color: #3365FA">ROOM</a>
                            </li>
                        </ul>
                    </li>
                    <li id="nav-menu-item-5010"
                        class="nav-item  menu-item-even menu-item-depth-0 menu-item menu-item-type-post_type menu-item-object-page">
                        <a href="/contracts" style="color: red"
                           class="nav-link main-menu-link">CONTRACT
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>

<div class="container-fluid">
    <div class="row" style="width: 100%; padding: 0; margin: 0;">
        <img src="../image/bg_codegym_img.jpg" class="img-thumbnail" alt="..." style="width: 100%;height: 100%">
    </div>
</div>
<footer style="color: blueviolet">
    &copy; C0622G1 Lê Bá Hoàng Giang - Thank you for using our service!
</footer>

</body>
</html>