<!--Navbar-->
<div>
  <div class="header-nav js-header-nav" style="background: #C3FF9D">
    <nav class="navbar navbar-expand-lg">
      <div class="navbar-collapse d-flex w-100 justify-content-between">
        <ul id="menu-furama-vi" class="menu navbar-nav js-main-menu" style="margin-left: 5%;">
          <li id="nav-menu-item-5006"
              class="nav-item  menu-item-even menu-item-depth-0 menu-item menu-item-type-post_type menu-item-object-page">
            <a routerLink="" class="nav-link main-menu-link" style="color: red">HOME</a>
          </li>
          <li id="nav-menu-item-5007"
              class="nav-item  menu-item-even menu-item-depth-0 menu-item menu-item-type-post_type menu-item-object-page">
            <a routerLink="" class="nav-link main-menu-link" style="color: red">EMPLOYEE</a>
          </li>
          <li id="nav-menu-item-5008"
              class="nav-item  menu-item-even menu-item-depth-0 menu-item menu-item-type-post_type menu-item-object-page">
            <a routerLink="/customers" class="nav-link main-menu-link" style="color: red">CUSTOMER</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLink="/facilities" id="navbarDropdown"
               role="button" style="color:red"
               data-bs-toggle="dropdown" aria-expanded="false">
              SERVICE
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item" href="/facilities" style="color:red">All Facilities</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" href="/facilities?searchFacilityType=Villa" style="color: #3365FA">VILLA</a>
              </li>
              <li>
                <a class="dropdown-item" href="/facilities?searchFacilityType=House" style="color: #3365FA">HOUSE</a>
              </li>
              <li>
                <a class="dropdown-item" href="/facilities?searchFacilityType=Room" style="color: #3365FA">ROOM</a>
              </li>
            </ul>
          </li>
          <li id="nav-menu-item-5010"
              class="nav-item  menu-item-even menu-item-depth-0 menu-item menu-item-type-post_type menu-item-object-page">
            <a href="/contracts" style="color: red"
               class="nav-link main-menu-link">CONTRACT
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
