<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row" style="width: 100%; padding: 0; margin: 0;">
    <div id="content">

      <h1 style="text-align: center; color: blue">Chỉnh sửa Khách Hàng</h1>

      <form *ngIf="rfCustomer" [formGroup]="rfCustomer" (ngSubmit)="submit()" id="form11">
        <fieldset style="width: 65%; margin-left: 25%">
          <legend>Nhập thông tin</legend>
          <table class="table table-striped" style="text-align: left">
            <tr>
              <td width="15%"><label for="input-name" class="form-label">Tên*</label></td>
              <td width="25%">
                <input type="text" class="form-control" id="input-name"
                       formControlName="name"
                       [ngClass]="(rfCustomer.controls['name'].touched)?
                       rfCustomer.controls['name'].invalid?'is-invalid':'is-valid':''">
              </td>
              <td width="60%">
                <div *ngIf="rfCustomer.controls['name'].hasError('required') &&
                   rfCustomer.controls['name'].touched" style="color: red">
                  Vui lòng nhập tên.
                </div>
                <div *ngIf="rfCustomer.controls['name'].hasError('minlength') &&
                   rfCustomer.controls['name'].touched" style="color: red">
                  Tên tối thiểu 5 ký tự.
                </div>
                <div *ngIf="rfCustomer.controls['name'].hasError('maxlength') &&
                   rfCustomer.controls['name'].touched" style="color: red">
                  Tên tối đa 25 ký tự.
                </div>
                <div *ngIf="rfCustomer.controls['name'].hasError('pattern') &&
                   rfCustomer.controls['name'].touched &&
                  !rfCustomer.controls['name'].hasError('minlength')&&
                  !rfCustomer.controls['name'].hasError('maxlength')" style="color: red">
                  Tên chưa đúng định dạng. Vd: Nguyen Van A
                </div>
              </td>
            </tr>
            <tr>
              <td><label for="input-dayOfBirth" class="form-label">Ngày sinh*</label></td>
              <td><input type="date" class="form-control" id="input-dayOfBirth" formControlName="dayOfBirth"
                         [ngClass]="(rfCustomer.controls['dayOfBirth'].touched)?
                       rfCustomer.controls['dayOfBirth'].invalid?'is-invalid':'is-valid':''">
              <td>
                <div *ngIf="rfCustomer.controls['dayOfBirth'].hasError('required') &&
                   rfCustomer.controls['dayOfBirth'].touched" style="color: red">
                  Vui lòng nhập ngày sinh.
                </div>
                <div *ngIf="rfCustomer.controls['dayOfBirth'].hasError('pattern') &&
                   rfCustomer.controls['dayOfBirth'].touched" style="color: red">
                  Ngày sinh chưa đúng.
                </div>
              </td>
            </tr>
            <tr>
              <td><label for="input-gender" class="form-label">Giới tính*</label></td>
              <td>
                <input type="radio" formControlName="gender" value="0" id="input-gender"/>Nam
                <input type="radio" formControlName="gender" value="1"/>Nữ
                <input type="radio" formControlName="gender" value="2"/>Khác
              </td>
            </tr>
            <tr>
              <td><label for="input-idCard" class="form-label">CMND*</label></td>
              <td><input type="text" class="form-control" id="input-idCard" formControlName="idCard"
                         [ngClass]="(rfCustomer.controls['idCard'].touched)?
                       rfCustomer.controls['idCard'].invalid?'is-invalid':'is-valid':''">
              </td>
              <td>
                <div *ngIf="rfCustomer.controls['idCard'].hasError('required') &&
                   rfCustomer.controls['idCard'].touched" style="color: red">
                  Vui lòng nhập CMND/CCCD.
                </div>
                <div *ngIf="rfCustomer.controls['idCard'].hasError('pattern') &&
                   rfCustomer.controls['idCard'].touched" style="color: red">
                  CMND/CCCD chưa đúng định dạng. Vd: 123
                </div>
              </td>
            </tr>
            <tr>
              <td><label for="input-phone" class="form-label">SĐT*</label></td>
              <td><input type="text" class="form-control" id="input-phone" formControlName="phone"
                         [ngClass]="(rfCustomer.controls['phone'].touched)?
                       rfCustomer.controls['phone'].invalid?'is-invalid':'is-valid':''">
              </td>
              <td>
                <div *ngIf="rfCustomer.controls['phone'].hasError('pattern') &&
                   rfCustomer.controls['phone'].touched" style="color: red">
                  SĐT chưa đúng định dạng. Vd: (+84)-1 hoặc (+84)-12
                </div>
              </td>
            </tr>
            <tr>
              <td><label for="input-email" class="form-label">Email*</label></td>
              <td><input type="text" class="form-control" id="input-email" formControlName="email"
                         [ngClass]="(rfCustomer.controls['email'].touched)?
                       rfCustomer.controls['email'].invalid?'is-invalid':'is-valid':''">
              </td>
              <td>
                <div *ngIf="rfCustomer.controls['email'].hasError('required') &&
                   rfCustomer.controls['email'].touched" style="color: red">
                  Vui lòng nhập email.
                </div>
              </td>
            </tr>
            <tr>
              <td><label for="input-address" class="form-label">Địa chỉ</label></td>
              <td><input type="text" class="form-control is-valid" id="input-address" formControlName="address">
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td><label for="input-customerType" class="form-label">Loại khách*</label></td>
              <td>
                <select formControlName="customerType" class="form-control" id="input-customerType"
                        [ngClass]="(rfCustomer.controls['customerType'].touched)?
                       rfCustomer.controls['customerType'].invalid?'is-invalid':'is-valid':''">

                  <option [value]="customer.customerType">{{customer.customerType.name}}</option>
                  <ng-container *ngFor="let item of customerTypes">
                    <option [ngValue]="item" *ngIf="item.id != customer.customerType.id">{{item.name}}</option>
                  </ng-container>
                </select>
              </td>
              <td>
                <div *ngIf="rfCustomer.controls['customerType'].hasError('pattern') &&
                   rfCustomer.controls['customerType'].touched" style="color: red">
                  Vui lòng chọn loại khách.
                </div>
              </td>
            </tr>
            <tr *ngIf="rfCustomer.invalid && rfCustomer.touched ">
              <td colspan="3"><span style="color: red">Vui lòng nhập đủ các thông tin bắt buộc (có dấu *)</span></td>
            </tr>
            <tr>
              <td><a routerLink="/customers" class="btn btn-success">Quay lại</a></td>
              <td style="text-align: center">
                <button type="submit" class="btn btn-primary" [disabled]="rfCustomer.invalid">Submit</button>
              </td>
            </tr>
          </table>
        </fieldset>
      </form>
    </div>
  </div>
</div>

