<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="card border-primary mt-5">
        <h3 class="card-header bg-primary">List User</h3>
        <div class="card-body">
          <table class="table">
            <thead>
            <tr>
              <th>#</th>
              <th>Tên</th>
              <th>Giới tính</th>
              <th>Điểm</th>
              <th>Đánh giá</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of students;"
                [routerLink]="['/detail', item.id]">
              <td>{{item.id}}</td>
              <td>{{item.name}}</td>
              <td [ngSwitch]="item.gender">
                <span *ngSwitchCase="0">Nữ</span>
                <span *ngSwitchCase="1">Nam</span>
                <span *ngSwitchDefault>Khác</span>
              </td>
              <td>{{item.point}}</td>
              <td>
                <span *ngIf="item.point >= 75">Giỏi</span>
                <span *ngIf="item.point >= 50 && item.point < 75 ">Trung Bình</span>
                <span *ngIf="item.point < 50">Yếu</span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


