<div class="container">
  <div class="row">
    <div class="col-6 mx-auto mt-5">
      <h2>Create Student</h2>
      <form [formGroup]="rfStudent" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="input-name" class="form-label">Tên</label>
          <input type="text" class="form-control" id="input-name" placeholder="Nguyen Van A"
                 formControlName="name" [ngClass]="rfStudent.controls['name'].valid ? 'is-valid' : 'is-invalid'">
          <div class="invalid-feedback">
            <div *ngIf="rfStudent.controls['name'].errors?.required">
              Vui lòng nhập tên.
            </div>
            <div *ngIf="rfStudent.controls['name'].errors?.minlength">
              Tên tối thiểu 5 ký tự.
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Giới tính</label>
          <div class="form-check-inline">
            <input class="form-check-input" type="radio" formControlName="gender" value="1" id="inlineRadio1">
            <label class="form-check-label" for="inlineRadio1">Male</label>
          </div>
          <div class="form-check-inline">
            <input class="form-check-input" type="radio" formControlName="gender" value="0" id="inlineRadio0">
            <label class="form-check-label" for="inlineRadio0">Famale</label>
          </div>
          <div class="form-check-inline">
            <input class="form-check-input" type="radio" formControlName="gender" value="2" id="inlineRadio2">
            <label class="form-check-label" for="inlineRadio2">Other</label>
          </div>
        </div>
        <div class="mb-3">
          <label for="input-point" class="form-label">Điểm</label>
          <input type="text" class="form-control" id="input-point"
                 formControlName="point" [ngClass]="rfStudent.controls['point'].valid ? 'is-valid' : 'is-invalid'">
          <div class="invalid-feedback">
            <div *ngIf="rfStudent.controls['age'].errors?.required">
              Vui lòng nhập Điểm.
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="rfStudent.invalid">Submit</button>
      </form>
    </div>
  </div>
</div>



